{% extends 'base.html.twig' %}


{% block body %}

<div class="card-deck">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">COMPETENCES</h5>
            <a href="{{ path('user_skill', { 'id': id }) }}" class="btn btn-primary">Cliquez ici!</a>
        </div>
    </div>

    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">OFFRE QUI MATCH !</h5>
            <a href="{{ path('user_match', { 'id': id }) }}" class="btn btn-primary">Cliquez ici!</a>
        </div>
    </div>

    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">DEPOT CV</h5>
            <a href="{{ path('depot_cv', { 'id': id }) }}" class="btn btn-primary">Cliquez ici!</a>
        </div>
    </div>
</div>

<div class="offset-lg-3 col-lg-7">
    <div class="card mb-3">
        <div class="card-body">
        <h1 class="card-title">Editer votre profil {{ user.fname }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form)}}
        </div>
    </div>
</div>


{% endblock %}
