{% extends 'base.html.twig' %}
{% block body %}
<div class="offset-lg-3 col-lg-7">
   <div class="card bg-light mb-3" style="max-width: 18rem;">
       <div class="card-body text-center">
       <h5 class="card-title">Gestion utilisateur </h5>
       </div>
   <div class="card-body">
   <fieldset class="form-group">
       {% for user in users %}
       <a href="{{ path('admin_user_detail', { 'id': user.id}) }}">
       <form class="" action="{{ path('admin_user_delete', { 'id': user.id }) }}">
       <table class="table table-hover">
       <ul class="list-group list-group-flush">
           <li class="list-group-item">Nom: {{ user.fname }}</li>
           <br> <br>
           <li class="list-group-item">Email: {{ user.email }}</li>
       </ul>
        <div class="form-check disabled">
        <br>
        <label class="form-check-label">
               <input class="form-check-input" type="checkbox"  name="id" value="{{ user.id }}">
                        <label class="form-check-label" for="{{user.id}}">Supprimer l'utilisateur</label>
    <br>
       </label>
        </label>
       </div>
       </table>
   <button type="submit" class="btn btn-lg btn-primary" name="save" value="check">Supprimer</button>
   </form>
</div>
</div>
</div>
<br> <br><br>
   </fieldset>
   {% endfor %}
{% endblock %}
