{% extends 'base.html.twig' %}

{% block title %}Recruteur{% endblock %}

{% block body %}


 <div class="offset-lg-4 col-lg-7">
<div class="card bg-light mb-3" style="max-width: 30rem;">
<div class="card-body">

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Identifiants recruteur</h1>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mb-3">
                <br>
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </form>
    </div>

 </div>
 </div>
 </div>   
{% endblock %}
