{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/homestyle.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="offset-lg-0 col-lg-10">
            <div class="bd-example">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img src="{{ asset('carimages/accueil-1.svg') }}" class="d-block w-100" alt="">
                            <div class="carousel-caption d-none d-md-block"></div>
                            <div class="red">
                                <div id="a_droite" class="red-content">
                                    <p>Prenez rendez-vous avec l'Avenir</p>
                                    <a href="{{ path('visitoroffers') }}" class="btn btn-primary">Cliquez pour voir les offres</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="{{ asset('carimages/accueil-2.svg') }}" class="d-block w-100"  alt="">
                            <div class="carousel-caption d-none d-md-block"></div>
                            <div class="red">
                                <div id="a_droite1" class="red-content">
                                    <p>Nous rencontrer c'est avancer!</p>
                                    <a href="{{ path('register') }}" class="btn btn-primary">Cliquez pour vous inscrire</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="{{ asset('carimages/accueil-3.svg') }}" class="d-block w-100" alt="">
                             <div class="red">
                            <div class="carousel-caption d-none d-md-block"></div>
                                <div id="a_droite2" class="red-content">
                                    <p>Unissons nos compétences</p>
                                    <a href="{{ path('register') }}" class="btn btn-primary">Poster vos annonces</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
     </div> 
     

{% endblock %}
{% block javascripts %}
    <script src="jquery.js"></script>
    <script>
        $(document).ready(function ($) {
            $('.carousel-indicators > li:first').addClass('active');
            $('.carousel-inner > .carousel-item:first').addClass('active');
            $('.carousel').carousel({interval: 6000});
        });
    </script>
{% endblock %}