{% extends 'base.html.twig' %}
{% block body %}
   <div class="example-wrapper">
          <div class="card mb-3">
          <div class="card-body">
           <h3 class="card-title"> Inscription recruteur</h3>
   <br>
       <div class="form">
                {{ form_start(form) }}
              {{ form_widget(form) }}
              {{ form_end(form) }}
    </div>
   </div>
   </div>
   </div>
<br><br><br><br><br>
{% endblock %}