{% extends 'base.html.twig' %}

{% block title %}
	Voir le détail d'une offre
{% endblock %}

{% block body %}

	<div class="offset-lg-3 col-lg-7">
		<div class="card mb-3">
			<h3 class="card-header">
				{{ offer.title}}
			</h3>

			<div class="card-body">
				<h5 class="card-title">
					Compétences requises
				</h5>

				{% for skills in offer.offerSkills %}

					{{ skills.skill }}

				{% endfor %}

				<h6 class="card-subtitle text-muted">
					Date de publication
					{{ offer.publicationDate | date('d/m/y')}}
				</h6>
			</div>
			<div class="card-body">
				<p class="card-text">
					{{ offer.description}}
				</p>
				<h6 class="card-subtitle text-muted">
					Type de contrat:
					{{ offer.contract }}
				</h6>
				<br>
				<h6 class="card-subtitle text-muted">
					Date debut
					{{ offer.startDate | date('d/m/y') }}
					et fin
					{{ offer.endDate | date('d/m/y') }}
					du contrat</h6>
			</div>
		</div>

		<div class="card-subtitle text-muted">

			{% if is_granted('ROLE_USER') %}

				<a href="{{ path('apply', {'id':id }) }}" class="btn btn-primary">Postulez</a>

			{% elseif is_granted('ROLE_RECRUITER') or is_granted('ROLE_ADMIN') %}
				<a href="{{ path('edit', { 'id' : offer.id }) }}" class="btn btn-primary">
					Editer cette offre</a>
				<a href="{{ path('delete', { 'id' : offer.id }) }}" class="btn btn-primary">
					Supprimer cette offre</a>

			{% else  %}
				<a href="{{ path('login') }}" class="btn btn-primary">Connectez-vous pour postuler</a>
			{% endif %}
		</div><br></div>

{% endblock %}
