{% extends "base.html.twig" %}

{% block body %}
    {% for offer in joboffers %}

        <div class="offset-lg-8 col-lg-3">

            <div class="card mb-3">
                <h3 class="card-header">
                    {{ offer.title}}
                </h3>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ offer.requiredSkills}}
                    </h5>
                    <h6 class="card-subtitle text-muted">
                        Date de publication
                        {{ offer.publicationDate | date('d/m/y')}}
                    </h6>
                </div>

                <div class="card-body">
                    <a href="{{ path('offerdetails') }}" class="card-link">Cliquez pour consulter</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago 
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}
