{% extends 'base.html.twig' %}
{% block body %}
    <div class="example-wrapper">
        <div class="form-group">
            {% for user in users %}
            <form class="" action="{{ path('newsletter_signout') }}">
                    <table class="table table-hover">
                        <tbody>
                                <tr class="table-success">
                                    <th scope="col">Nom: {{ user.fname }}</th>
                                    <th scope="col">Email: {{ user.email }}</th>
                                    <th scope="col">
                                        <input class="form-check-input" type="checkbox" name="id" value="{{ user.id }}">
                                        <label class="form-check-label" for="{{user.id}}">désinscrire</label>
                                    </th>
                                </tr>
                        </tbody>
                    </table>
                {% endfor %}
                <button type="submt" class="btn btn-lg btn-primary" name="save" value="check">désinscrire</button>
            </form>
        </div>
    </div>
{% endblock %}