{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<div background-image: url('{{ asset('images/image1.svg') }}')> </div>

<div class="row">
<div class="card-desk"> 
 <div id="col-lg-5">
            <div class="card bg-light text-dark mb-3 " style="max-width: 10rem;">
                <div class="card-body text-center" >
                    <a href="{{ path('login_user') }}"><h4 class="card-text">Login Candidat</h4></a>
                </div>
            </div>
            <div id="col-lg-5">
            <div class="card bg-light text-dark mb-3 " style="max-width: 10rem;">
                <div class="card-body text-center">
                    <a href="{{ path('login_recruiter') }}"><h4 class="card-text">Login Recruteur</h4></a>
                </div>
            </div>
        </div>
        </div>
        </div>
</div>
</div>
</div>
</div>

<style>
body{
    position: relative;
    background-image: url("{{ asset('images/image1.svg') }}");
    background-repeat:no-repeat;
    width: 100%;
    background-position: center bottom; 
}
</style>

{% endblock %}
