{% extends "base.html.twig" %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/stylesFooter.css') }}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

{% endblock %}

{% block body %}

{% for offer in joboffers %}

<div class="offset-lg-3 col-lg-7">

    <div class="card mb-3" >
        <h3 class="card-header"> {{ offer.title}} </h3>
        <div class="card-body">
            <h5 class="card-title"> {{ offer.requiredSkills}} </h5>
            <h6 class="card-subtitle text-muted"> Date de publication {{ offer.publicationDate | date('d/m/y')}} </h6>
        </div>
        <div class="card-body">
            <p class="card-text"> {{ offer.description}} </p>
            <h6 class="card-subtitle text-muted"> Type de contrat: {{ offer.contract }} </h6>
            <br>
            <h6 class="card-subtitle text-muted"> Date debut {{ offer.startDate | date('d/m/y') }} et fin {{ offer.endDate | date('d/m/y') }} du contrat</h6>
        </div>
        <div class="card-footer text-muted">
            2 days ago
              {{ offer.id }}
        </div>
    </div>
    
</div> 

{% endfor %}
{% endblock %}